.ticket-container {
  width: 100%;
  height: auto;
  padding: 24px;
  background: #041e23;
  border-radius: 24px;
  border: 1px #0e464f solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ticket-header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.ticket-details {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #08252b;
  border-radius: 24px;
  border: 1px solid #0e464f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.header-content {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.header-title {
  align-self: stretch;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-step {
  color: #fafafa;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.progress-bar {
  position: relative;
  width: 100%;
}

.event-info {
  display: flex;
  height: auto;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 24px;
  border-right: 2px solid #07373f;
  border-bottom: 2px solid #07373f;
  border-left: 2px solid #07373f;
  background: radial-gradient(
      57.42% 106.59% at 14.02% 32.06%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    rgba(10, 12, 17, 0.1);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

.event-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.event-title {
  align-self: stretch;
  color: #fafafa;
  text-align: center;
  font-family: "Road Rage";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.event-description {
  width: 100%;
  color: #fafafa;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.event-meta {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.event-location,
.event-separator,
.event-date {
  color: #fafafa;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.ticket-details .divider {
  position: relative;
  width: 100%;
}

.ticket-options {
  align-self: stretch;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}

.ticket-options-title {
  align-self: stretch;
  color: #fafafa;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.ticket-cards {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 24px;
  border: 1px solid #07373f;
  background: #052228;
}

.ticket-card {
  display: flex;
  width: 100%;
  height: auto;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 12px;
  border: 2px solid #197686;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ticket-card:hover {
  background: #24a0b5;
}

.ticket-card.active {
  background-color: #12464e;
  color: white;
  border: 1px #197686 solid;
}

.ticket-card.active .ticket-type,
.ticket-card.active .ticket-access,
.ticket-card.active .ticket-availability {
  color: white;
}

.ticket-type {
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 26.4px;
  word-wrap: break-word;
}

.ticket-info {
  align-self: stretch;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.ticket-access {
  color: #fafafa;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  word-wrap: break-word;
}

.ticket-availability {
  color: #d9d9d9;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}

.ticket-quantity {
  align-self: stretch;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.quantity-label {
  align-self: stretch;
  color: #fafafa;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.quantity-input {
  display: flex;
  width: 100%;
  padding: 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #07373f;
  background-color: transparent;
}

.quantity-dropdown {
  position: relative;
  background-color: #052228;
}

.ticket-actions {
  align-self: stretch;
  height: auto;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 24px;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 20px;
  }

  .header-step {
    font-size: 12px;
  }

  .event-title {
    font-size: 24px;
  }

  .event-description {
    font-size: 12px;
  }

  .ticket-type {
    font-size: 16px;
  }

  .ticket-access {
    font-size: 12px;
  }

  .ticket-availability {
    font-size: 10px;
  }

  .quantity-label {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 18px;
  }

  .header-step {
    font-size: 10px;
  }

  .event-title {
    font-size: 20px;
  }

  .event-description {
    font-size: 10px;
  }

  .ticket-type {
    font-size: 14px;
  }

  .ticket-access {
    font-size: 10px;
  }

  .ticket-availability {
    font-size: 8px;
  }

  .quantity-label {
    font-size: 10px;
  }
}

@media (max-width: 425px) {
  .ticket-container {
    padding: 0px;
    width: 100%;
  }

  .header-title {
    font-size: 16px;
  }

  .header-step {
    font-size: 10px;
  }

  .event-title {
    font-size: 18px;
  }

  .event-description {
    font-size: 10px;
  }

  .ticket-type {
    font-size: 14px;
  }

  .ticket-access {
    font-size: 10px;
  }

  .ticket-availability {
    font-size: 8px;
  }

  .quantity-label {
    font-size: 10px;
  }
}
